*{
    margin:0;
    padding:0;
}
body{
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}
nav{
    display:flex;
    align-items:center;
    
    background-color:black;

    height:60px;
    
}



nav ul{
    display:flex;
    justify:space-around;
   

    
    
}
nav ul li{
    list-style:none;
    padding:0 23px;

    

    
}